.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__slogan {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
  color: #283645;
  margin-top: 42px;
  margin-bottom: 12px;
  text-align: center;
}

.contacts__list {
  position: relative;
  margin-bottom: 13px;
  margin-top: 21px;

  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item {
  margin-bottom: 24px;

  p {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #283645;
  }

  b {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 1px;
  }
}

.contacts__number {
  margin-top: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  color: #d22856;
}

.contacts__map {
  position: relative;
  width: $mobile-width;
  min-height: 200px;
  margin-top: 0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: 100% auto;
  background-position: center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
  /*Треугольник над картой */
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    @include pseudo-element;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 35px solid #ffffff;
  }
}

.contacts__map--js .contacts__map-icon{
  display: none;
}

.contacts__map-icon {
  display: block;
  position: absolute;
  top: 95px;
  left: 50%;
  margin-left: -18px;
}

@media (min-width: $tablet-width) {
  .contacts__slogan {
    font-size: 40px;
    margin-top: 44px;
    padding-right: 85px;
    padding-left: 85px;
    max-width: $tablet-width;
  }

  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 25px;

    &:last-child {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
    }

    b {
      margin-bottom: 5px;
    }
  }

  .contacts__map {
    width: $tablet-width;
    min-height: 375px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center -315px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
    /*Треугольник над картой */
    &::before {
      border-left: $tablet-width/2 solid transparent;
      border-right: $tablet-width/2 solid transparent;
      border-top: 65px solid #ffffff;
    }
  }

  .contacts__map-icon {
    top: 195px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__slogan {
    font-size: 50px;
    margin-top: 59px;
  }

  .contacts__list {
    align-items: flex-start;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .contacts__item {
    margin-left: 20px;
    margin-right: 20px;

    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  .contacts__number {
    padding-top: 20px;
  }

  .contacts__map {
    width: $desktop-width;
    min-height: 503px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center -275px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      border-left: $desktop-width/2 solid transparent;
      border-right: $desktop-width/2 solid transparent;
      border-top: 105px solid #ffffff;
    }
  }

  .contacts__map-icon {
    top: 266px;
  }
}
