.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__slogan {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #283645;
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
}

.contacts__list {
  position: relative;
  margin-bottom: 20px;

  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item {
  p {
    margin-top: 0;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #283645;
  }
}

.contacts__number {
  margin-top: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  color: #d22856;
}

.contacts__map {
  position: relative;
  width: $mobile-width;
  min-height: 240px;
  margin-top: 0;
  /*Треугольник над картой */
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    @include pseudo-element;
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 55px solid #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .contacts__slogan {
    font-size: 40px;
    margin-top: 48px;
  }

  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 25px;

    &:last-child {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .contacts__map {
    width: $tablet-width;
    min-height: 370px;
    /*Треугольник над картой */
    &::before {
      border-left: $tablet-width/2 solid transparent;
      border-right: $tablet-width/2 solid transparent;
    }
  }
}
@media (min-width: $desktop-width) {
  .contacts__slogan {
    font-size: 50px;
    margin-top: 63px;
  }

  .contacts__list {
    align-items: flex-start;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .contacts__item {
    margin-left: 20px;
    margin-right: 20px;

    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      margin-bottom: 5px;
    }
  }

  .contacts__number {
    padding-top: 20px;
  }

  .contacts__map {
    width: $desktop-width;
    min-height: 500px;
    &::before {
      border-left: $desktop-width/2 solid transparent;
      border-right: $desktop-width/2 solid transparent;
      border-top: 123px solid #ffffff;
    }
  }
}
