.copyright {
  display: flex;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
}

.copyright svg {
  margin-left: 8px;
  margin-top: -2px;
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    font-size: 18px;
  }
}
