.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: $background-color-dark;
  padding-top: 28px;
}

.download__btn {
  margin-bottom: 20px;
}

.download__list {
  margin-bottom: 8px;
  width: 210px;
}

.download__notice {
  margin-bottom: 28px;
  width: 235px;
  padding: 0;
  text-align: center;
  line-height: 24px;
}
