.like {
  color: #d22856;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
}

.like__add {
  @include reset-btn;
  padding-right: 16px;
  padding-left: 1px;
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

.like__count {
  margin-left: 3px;
}

@media (min-width: $tablet-width) {
  .like {
    &:not(&--top) {
      display: flex;
      width: 100%;
    }
  }

  .like__add {
    margin-left: auto;
    padding-right: 15px;
    order: 2;
  }
}
