.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-footer__logo {
  margin-bottom: 30px;

  @include link;
  color: $fonts-color;
}

.main-footer__links {
  margin-top: 0;
  margin-bottom: 28px;
}

.main-footer__copyright {
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 70px;
  }
}
