.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding: 0;

  @include background-dark;
}

.main-header__top {
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-top: 22px;
}

.main-header__logo {
  display: inline-block;
  margin-right: auto;
  height: 22px;

  @include link;
}

.main-header__logo-icon {
  margin-left: -74px;
  margin-top: -18px;
}

.main-header__menu-btn {
  @include reset-btn;

  position: relative;
  margin-left: auto;
  width: 50px;
  height: 24px;
  font-size: 0;
  color: #ffffff;

  &:hover {
    color: #d22856;
  }

  &:focus {
    color: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}
/*Кнопка при отключенном js*/
.main-header--nojs .main-header__menu-btn {
  display: none;
}
/*Кнопка при отктытом меню*/
.main-header--opened .main-header__hamburger {
  display: none;
}

.main-header--opened .main-header__menu-btn {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 24px;
    width: 29px;
    height: 5px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: rgba(210, 40, 86, 0.3);
  }
}
/*Закрытое меню*/
.main-header--close {
  background-color: rgba(40, 54, 69, 0.6);
}

.main-header--close .main-header__nav {
  display: none;
}
/*Отсутсвие js*/
.main-header--nojs {
  background-color: rgba(40, 54, 69, 1);
}

.main-header--nojs .main-header__nav {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header__top {
    padding-top: 26px;
    padding-bottom: 40px;
  }

  .main-header__logo {
    height: 44px;
  }

  .main-header__logo-icon {
    margin-left: 0;
    margin-top: 0;
  }

  .main-header__menu-btn {
    height: 44px;
  }
  /*Кнопка при отктытом меню*/
  .main-header--opened .main-header__menu-btn {
    &::before,
    &::after {
      top: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    flex-direction: row;
    padding-left: 130px;
    padding-right: 130px;
    background-color: rgba(40, 54, 69, 0.6);
  }

  .main-header--close .main-header__nav,
  .main-header--nojs .main-header__nav {
    display: block;
  }

  .main-header__top {
    padding-left: 0;
  }

  .main-header__menu-btn {
    display: none;
  }
}
