.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding: 0;

  @include background-dark;
}

.js .main-header--close {
  background-color: rgba(#283645, 0.6);

  .main-header__menu-btn {
    display: inline-block;
  }

  .main-header__nav {
    display: none;
  }
}

.main-header__top {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;
  padding-top: 23px;
}

.main-header__logo {
  display: inline-block;
  margin-right: auto;
  height: 22px;

  @include link;
}

.main-header__logo-icon {
  margin-left: -74px;
  margin-top: -18px;
}

.no-js {
  .main-header__menu-btn {
    display: none;
  }
}


.main-header__menu-btn {
  @include reset-btn;

  margin-left: auto;
  width: 50px;
  height: 24px;
  font-size: 0;
  color: #ffffff;

  &:hover {
    color: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__nav {
  &--close {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header__top {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .main-header__logo {
    height: 44px;
  }

  .main-header__logo-icon {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    flex-direction: row;
    padding-left: 130px;
    padding-right: 130px;
    background-color: rgba(40, 54, 69, 0.6);
  }

  .main-header__top {
    padding-left: 0;
  }

  .main-header__menu-btn {
    display: none;
  }
}
