.main-nav__list {
  display: flex;
  flex-direction: column;

  @include reset-list;
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav__item {
  box-shadow: 0 -1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-align: center;

  &:last-child {
    box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  }
}

.main-nav__link {
  @include link;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  &--active {
    position: relative;
    display: inline-block;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 16px;
    margin-right: 16px;

    &::after {
      @include pseudo-element;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      height: 2px;
      background-color: $background-color-white;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: auto;
    min-width: 638px;
  }

  .main-nav__list {
    min-height: 90px;
    padding-bottom: 5px;
    padding-top: 10px;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;

    &:last-child {
      box-shadow: none;
    }
  }

  .main-nav__link {
    position: relative;
    font-weight: 400;
    text-transform: none;
    margin-right: 16px;
    margin-left: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}
