.new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 28px;
  background-color: $background-color-light;
  color: #283645;
  margin-bottom: 40px;
}

.new-post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.new-post__form picture {
  font-size: 0;
}

.new-post__photo {
  margin-bottom: 40px;
}

.new-post__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.new-post__tools {
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.3);
  margin-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

.new-post__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post__btn {
  width: 280px;
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .new-post {
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 58px;
    padding-bottom: 12px;
    margin-top: 18px;
  }

  .new-post__form {
    flex-direction: row;
    align-items: flex-start;
  }

  .new-post__photo {
    width: 300px;
    height: 400px;
  }

  .new-post__tools {
    padding-right: 0;
    width: 275px;
    border-bottom: none;
    margin-bottom: 2px;
  }

  .new-post__btn {
    width: 260px;
    margin-left: 40px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .new-post {
    margin-top: 12px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 100px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
  }

  .new-post__form {
    align-items: stretch;
  }

  .new-post__photo {
    margin-bottom: 0;
  }

  .new-post__tools {
    padding-left: 90px;
    width: 410px;
  }

  .new-post__btn-wrapper {
    width: 410px;
    padding-left: 90px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .new-post__btn {
    width: 183px;
    margin: 0;
    font-size: 18px;
  }
}
