.page-body {
  width: $body-mobile-width;

  @include reset-margin-padding;
  margin-right: auto;
  margin-left: auto;
  font-size: $fonts-size;
  font-family: $fonts-family;
  line-height: $fonts-line-hieght;
  color: $fonts-color;
}
