.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &--top {
    position: relative;

    &::before {
      content: "Панорама дня";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 20px;
      width: 140px;
      height: 36px;
      font-size: 12px;
      line-height: 3;
      font-weight: 700;
      color: #ffffff;
      background-color: #d22856;
      text-align: center;
      text-transform: uppercase;
      z-index: 2;
    }
  }
}

.post__photo-full-version {
  font-size: 0;
}

.post__photo {
  width: 280px;

  &--top {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }
}


.post__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 280px;
  padding-left: 17px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #283645;
  background-color: $background-color-light;
}

.post__user {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.post__time {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.7;
}

.post__text {
  margin-top: 3px;
  margin-bottom: 10px;
  line-height: 1.7;
}

.post__likes {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .post {
    &--top {
      &::before {
        top: 55px;
      }
    }
  }

  .post__photo {
    width: 300px;
    height: 300px;

    &--top {
      width: 660px;
      height: auto;
    }
  }

  .post__likes {
    margin-top: auto;
  }

  .post__content {
    width: 300px;
    min-height: 155px;
    font-size: 14px;
    padding-left: 27px;
    padding-top: 23px;

    &--top {
      flex-direction: row;
      flex-wrap: wrap;
      width: $tablet-width - 40px;
      margin-bottom: 43px;
      min-height: 121px;

      .post__likes {
        margin-left: auto;
        margin-right: 12px;
        margin-top: 0;
        order: 2;
      }

      .post__text {
        order: 3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .post {
    &--top {
      &::before {
        top: 55px;
        right: 130px;
      }

      .post__content {
        width: $desktop-width - 260px;
      }
    }
  }

  .post__content {
    &--top {
      min-height: 96px;
      padding-bottom: 12px;
      margin-bottom: 48px;
    }
  }

  .post__photo {
    width: 300px;
    height: 400px;

    &--top {
      width: 1200px;
      height: auto;
    }
  }
}
