.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-light;
  overflow: hidden;
}

.price__table {
  margin-top: 60px;
  margin-left: -252px;
  margin-right: -252px;
  border: 2px solid #ffffff;
  border-collapse: collapse;
  text-transform: uppercase;
}

.price__tariff {
  background-color: $background-color-dark;
  color: $background-color-white;
}

.price__header {
  width: 280px;
  border: 2px solid #f2f2f2;

  &--hit {
    position: relative;

    &::before {
      @include pseudo-element;
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
    }

    &::after {
      content: "Хит";
      transform: rotate(315deg);
      text-align: center;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 74px;
      height: 73px;
    }
  }
}

.price__tariff-name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}

.price__tariff-cost {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.price__filter {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 2.14;
  color: #283645;
  border: 2px solid #f2f2f2;
}

.price__feature {
  padding-left: 21px;
  padding-top: 18px;
  padding-bottom: 14px;
  border-left: 2px solid #f2f2f2;
}

.price__included {
  text-align: center;
  vertical-align: center;
  font-size: 0;
  min-width: 41px;
  background-repeat: no-repeat;
  background-position: center;

  &--off {
    background-image: url("../img/icon-no.svg");
    background-size: 27px 26px;
  }

  &--on {
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
  }
}

.price__switches {
  margin-top: 40px;
  margin-bottom: 46px;
}
