.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-light;
  overflow: hidden;
}

.price__table {
  margin-top: 66px;
  margin-left: -259px;
  margin-right: -259px;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  text-transform: uppercase;
}

.price__tariff {
  background-color: $background-color-dark;
  color: $background-color-white;
}

.price__header {
  width: 280px;
  border: 2px solid #f2f2f2;

  &--hit {
    position: relative;

    &::before {
      @include pseudo-element;
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
    }

    &::after {
      content: "Хит";
      transform: rotate(315deg);
      text-align: center;
      position: absolute;
      top: 7px;
      left: 3px;
      width: 74px;
      height: 73px;
    }
  }
}

.price__tariff-name {
  margin: 0;
  padding-top: 17px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
}

.price__tariff-cost {
  margin: 0;
  padding-top: 0;
  padding-bottom: 19px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.price__filter {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 2.14;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.price__feature {
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 16px;
  border-left: 2px solid #e5e5e5;
}

.price__included {
  text-align: center;
  vertical-align: middle;
  font-size: 0;
  min-width: 41px;
  background-repeat: no-repeat;
  background-position: center;

  &--off {
    background-image: url("../img/icon-no.svg");
    background-size: 27px 26px;
  }

  &--on {
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
  }
}

.price__switches {
  margin-top: 40px;
  margin-bottom: 46px;
}

@media (min-width: $tablet-width) {
  .price {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
  }

  .price__table {
    width: 620px;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .price__header {
    width: 152px;

    &:first-child {
      background-color: $background-color-light;

      .price__tariff-name {
        margin-left: 154px;
        background-color: $background-color-dark;
      }

      .price__tariff-cost {
        margin-left: 154px;
        background-color: $background-color-dark;
      }
    }

    &--hit {
      width: 155px;

      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/bg-hit-tablet.svg");
      }

      &::after {
        top: 0;
        left: 0;
        width: 61px;
        height: 61px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .price__tariff-name {
    font-size: 16px;
    line-height: 1.88;
    padding-top: 11px;
    padding-bottom: 0;
  }

  .price__tariff-cost {
    font-size: 18px;
    line-height: 1.88;
    padding-bottom: 6px;
    padding-top: 0;
    margin-top: -2px;
  }

  .price__feature {
    text-transform: none;

    &:first-child {
      width: 139px;
      padding-left: 15px;
      padding-top: 7px;
      padding-bottom: 8px;
      border: 2px solid #e5e5e5;
    }

    &:not(:first-child) {
      font-size: 0;
      width: 0;
      padding: 0;
      margin: 0;
    }
  }

  .price__included {
    width: 154px;
  }

  .price__switches {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 95px;
  }

  .price__table {
    width: 940px;
    margin-top: 63px;
  }

  .price__header {
    width: 233px;

    &:first-child {
      .price__tariff-name {
        margin-left: 233px;
      }

      .price__tariff-cost {
        margin-left: 233px;
      }
    }

    &--hit {
      width: 236px;

      &::before {
        width: 74px;
        height: 73px;
        background-image: url("../img/bg-hit.svg");
      }

      &::after {
        top: 5px;
        left: 5px;
        width: 61px;
        height: 61px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .price__tariff-name {
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 0;
  }

  .price__tariff-cost {
    font-size: 24px;
    padding-bottom: 13px;
    padding-top: 0;
    margin-top: -6px;
  }

  .price__feature {
    text-transform: none;

    &:first-child {
      width: 211px;
      padding-left: 23px;
      padding-top: 9px;
      padding-bottom: 13px;
      font-size: 18px;
    }
  }

  .price__included {
    width: 234px;
  }
}
