.submit-btn {
  @include reset-btn;
  width: 276px;
  height: 62px;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 14px;
  padding-right: 14px;
  border: 2px solid #2aab6d;
  border-radius: 2px;
  background-color: #2aab6d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    border: 2px solid #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    background-color: #e5e5e5;
    color: #ffffff;
    border: solid 2px #e5e5e5;
  }
}
