.users-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.users-photo__introduction-wrapper {
  width: 100%;
}

.users-photo__introduction {
  text-align: center;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 37px;
  max-width: 100%;
  margin-left: 36px;
  margin-right: 36px;
}

.users-photo__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include reset-list;
}

.users-photo__invite-wrapper {
  max-width: 100%;
}

.users-photo__invite {
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 2.14;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;

  span {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .users-photo__introduction {
    font-size: 18px;
    line-height: 1.7;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 41px;
    margin-bottom: 58px;
  }

  .users-photo__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 39px;
  }

  .users-photo__item {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .users-photo__invite {
    font-size: 18px;
    line-height: 1.67;
  }
}


@media (min-width: $desktop-width) {
  .users-photo__introduction {
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .users-photo__list {
    margin-bottom: 0;
  }

  .users-photo__item {
    &:nth-child(3n-1) {
      margin-left: 130px;
      margin-bottom: 35px;
    }
  }

  .users-photo__invite {
    margin-top: 0;
  }
}
