.users-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.users-photo__header {
  margin-top: 18px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 125px;
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  color: #ffffff;
}

.users-photo__introduction {
  @include reset-margin-padding;
  text-align: center;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 40px;
}

.users-photo__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include reset-list;
}

.users-photo__invite {
  @include reset-margin-padding;
  margin-top: 7px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 2.14;
}
