@mixin background-dark {
  background-color: $background-color-dark;
  color: #ffffff;
}

@mixin link {
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #d22856;
    fill: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@mixin reset-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
}

@mixin pseudo-element {
  content: "";
  display: inline-block;
}
