@mixin background-dark {
  background-color: $background-color-dark;
  color: #ffffff;
}

@mixin link ($link-color: #ffffff, $hover-color: #d22856) {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $hover-color;
    fill: $hover-color;
  }

  &:active {
    color: rgba($hover-color, 0.3);
  }
}

@mixin reset-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
}

@mixin pseudo-element {
  content: "";
  display: inline-block;
}
