$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$fonts-size: 14px;
$fonts-line-height: 2.14;
$fonts-color: #283645;
$fonts-family: "OpenSans", "Arial", sans-serif;
$background-color-dark: #283645;
$background-color-light: #f2f2f2;
$background-color-white: #ffffff;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
