$body-mobile-width: 320px;
$fonts-size: 14px;
$fonts-line-hieght: 2.14;
$fonts-color: #283645;
$fonts-family: "OpenSans", "Arial", "sans-serif";
$background-color-dark: #283645;
$background-color-light: #f2f2f2;
$background-color-white: #ffffff;
